<div id="front-content">
  <section id="front-navigation">
    <nav id="front-nav">
      <ul>
        <li id="nav-about">
          <a href="{{ relURL "about" }}">
            <img src="{{ relURL "images/icons/nav-about@2x.png" }}" width="74" height="74" />
            <h3>About</h3>
            <p>The advantages of Git compared to other source control systems.</p>
          </a>
        </li>
        <li id="nav-learn">
          <a href="{{ relURL "learn" }}">
            <img src="{{ relURL "images/icons/nav-about@2x.png" }}" width="74" height="74" />
            <h3>Learn</h3>
            <p>Pro Git book, videos, tutorials, and cheat sheet</p>
          </a>
        </li>
        <li id="nav-documentation">
          <a href="{{ relURL "docs" }}">
            <img src="{{ relURL "images/icons/nav-documentation@2x.png" }}" width="74" height="74" />
            <h3>Documentation</h3>
            <p>Git's reference documentation</p>
          </a>
        </li>
        <li id="nav-downloads">
          <a href="{{ relURL "downloads" }}">
            <img src="{{ relURL "images/icons/nav-downloads@2x.png" }}" width="74" height="74" />
            <h3>Downloads</h3>
            <p>GUI clients and binary releases for all major platforms.</p>
          </a>
        </li>
        <li id="nav-community">
          <a href="{{ relURL "community" }}">
            <img src="{{ relURL "images/icons/nav-community@2x.png" }}" width="74" height="74" />
            <h3>Community</h3>
            <p>Get involved! Bug reporting, mailing list, chat, development and more.</p>
          </a>
        </li>
      </ul>
    </nav>
    <div id="front-book">
      <img src="{{ relURL "images/progit2.png" }}" width="56" height="74" />
      <p>
        <strong><a href="{{ relURL "book" }}">Pro Git</a></strong>
        by Scott Chacon and Ben Straub is available to
        <a href="{{ relURL "book" }}">read online for free</a>.
        Dead tree versions are available on <a href="https://www.amazon.com/Pro-Git-Scott-Chacon/dp/1484200772?ie=UTF8&camp=1789&creative=9325&creativeASIN=1430218339&linkCode=as2&tag=git-sfconservancy-20">Amazon.com</a>.
      </p>
    </div>
  </section>
  <section id="front-downloads">
    {{ partialCached "monitor.html" . }}
    <table>
      <tr>
        <td nowrap="true"><a href="{{ relURL "downloads/guis" }}" class="icon gui" id="gui-link">Graphical UIs</a></td>
        <td nowrap="true"><a href="https://www.kernel.org/pub/software/scm/git/" class="icon older-releases">Tarballs</a></td>
      </tr>
      <tr>
        <td nowrap="true"><a href="{{ relURL "downloads/win" }}" class="icon windows" id="alt-link">Windows Build</a></td>
        <td nowrap="true"><a href="https://github.com/git/git" class="icon source">Source Code</a></td>
      </tr>
    </table>
</section>
</div>

<section id="companies-projects">
  <h3 class="text-center">Products providing Git hosting</h3>
  <ul>
    {{ $m := slice
    (dict "name" "gitlab" "url" "https://gitlab.com")
    (dict "name" "github" "url" "https://github.com")
    (dict "name" "forgejo" "url" "https://forgejo.org")
    (dict "name" "codeberg" "url" "https://codeberg.org")
    (dict "name" "sourcehut" "url" "https://sourcehut.org")
    (dict "name" "gitea" "url" "https://gitea.com")
    (dict "name" "tangled" "url" "https://tangled.org")
    (dict "name" "radicle" "url" "https://radicle.xyz")
    (dict "name" "gerrit" "url" "https://www.gerritcodereview.com")
    (dict "name" "azure-repos" "url" "https://azure.microsoft.com/en-us/products/devops/repos/")
    }}
    {{ range shuffle $m }}
    <li><a href="{{ .url }}">{{ partial "company-svg" (printf "company-project-logos/%s" .name) }}</a></li>
    {{ end }}
  </ul>
  <script type="text/javascript">
    document.getElementById("companies-projects").style.setProperty("--seed", Math.floor(Math.random() * 1000));
  </script>
</section>
